<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="{{ url_for('static', filename='images/panda.png') }}" type="image/png" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>MONA.HR</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-4">
      <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/"><img src="{{ url_for('static', filename='images/mona_logo.png') }}" alt="Mona HR" class="logo-img" /></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0 gap-2">
            <li class="nav-item">
              <a class="nav-link" href="/form">Bắt đầu phỏng vấn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/history">Lịch sử</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Đăng nhập</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-primary rounded-pill px-3" href="/register">Đăng ký</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h2>Nhập ngành để bắt đầu:</h2>
    <form method="POST">
      <input type="text" name="job_title" placeholder="Ví dụ: AI, Data, Fullstack..." required />
      <button type="submit">▶ Bắt đầu</button>
    </form>
  </body>
</html>
